In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import numpy as np
import pandas as pd

**Step 2: Importing dataset**

In [2]:
df=pd.read_csv("/content/Data.csv")
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [6]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,3].values

**Step 3: Handling the missing data**

In [3]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [4]:
df.fillna(df.mean(), inplace=True)

<ipython-input-4-bf934754a5b1>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

In [5]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [7]:
from sklearn.preprocessing import LabelEncoder
lab_encoder_X=LabelEncoder()
X[:,0]=lab_encoder_X.fit_transform(X[:,0])

**Step 5: Creating a dummy variable**

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("one_hot_encoder()",OneHotEncoder(),[0])],
                     remainder="passthrough"
                     )
X=ct.fit_transform(X)
labelencoder_Y=LabelEncoder()
Y=labelencoder_Y.fit_transform(Y)

**Step 6: Splitting the datasets into training sets and Test sets**

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

**Step 7: Feature Scaling**

In [12]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fit_transform(X_test)